* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.landing-page {
  width: 100%;
  min-height: 100vh;

  background-image: url(./src/assets/greenyellow.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
}

/* Dark overlay */
.landing-overlay {
  position: absolute;
  inset: 0;

  background: rgba(0, 0, 0, 0.48);
}

/* Main content */
.landing-content {
  position: relative;
  z-index: 2;

  width: 90%;
  max-width: 800px;

  text-align: center;
  color: white;

  animation: fadeIn 1.2s ease;
}
/* Main title */
.landing-content h1 {
  font-size: clamp(45px, 8vw, 85px);
  font-weight: 800;
  letter-spacing: 6px;

  margin-bottom: 10px;

  text-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

/* Discover Zanzibar */
.welcome-text {
  font-size: 28px;
  font-weight: 500;

  letter-spacing: 4px;
  margin-bottom: 20px;
}

/* Description */
.description {
  max-width: 650px;

  margin: 0 auto 25px;

  font-size: 18px;
  line-height: 1.7;

  color: rgba(255, 255, 255, 0.9);
}

/* Unguja / Pemba */
.location-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;

  font-size: 60px;

  margin-bottom: 35px;
}

/* Explore button */
.explore-btn {
  border: none;

  padding: 15px 30px;

  background: white;
  color: #075e54;

  border-radius: 50px;

  font-size: 17px;
  font-weight: 700;

  cursor: pointer;

  display: inline-flex;
  align-items: center;
  gap: 15px;

  transition: all 0.3s ease;

  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
}

.explore-btn span {
  font-size: 23px;

  transition: transform 0.3s ease;
}

.explore-btn:hover {
  transform: translateY(-4px);

  background: #075e54;
  color: white;
}

.explore-btn:hover span {
  transform: translateX(5px);
}

/* Bottom information */
.bottom-text {
  position: absolute;

  z-index: 2;

  bottom: 25px;
  left: 0;
  right: 0;

  text-align: center;

  color: rgba(255, 255, 255, 0.75);

  font-size: 13px;
  letter-spacing: 2px;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(25px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Mobile */
@media (max-width: 600px) {

  .landing-content h1 {
    letter-spacing: 3px;
  }

  .welcome-text {
    font-size: 21px;
    letter-spacing: 2px;
  }

  .description {
    font-size: 15px;
    padding: 0 10px;
  }

  .logo-icon {
    font-size: 45px;
  }

  .explore-btn {
    padding: 13px 25px;
    font-size: 15px;
  }

  .bottom-text {
    font-size: 10px;
    letter-spacing: 1px;
  }
}